---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Page not found">
  <article class="page-content">
    <h1>Page not found</h1>
    <p>The page you're looking for doesn't exist. <a href="/">Return home</a>.</p>
  </article>
</Layout>
